#wrapper {
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	background: #f0f3f9 url('../img/bg2.jpg') no-repeat center top !important;
}
body {
	background: #f0f3f9 url('../img/bg2.jpg') no-repeat center top !important;
}