@media all and (max-width: 1150px) {
  footer #f-i {
    width: 980px;
  }
  footer #f-i #fi-l {
    width: 370px;
  }
  footer #f-i #fi-l #fl-m {
    width: 120px;
  }
  footer #f-i #fi-l #fl-im {
    float: left;
    margin-left: 10px;
    width: 205px;
  }
  footer #f-i #fi-c {
    width: 290px;
    padding-left: 10px;
  }
  footer #f-i #fi-r {
    width: 295px;
  }
}
