html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.cb {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.in-a-row {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.ttf');
}
html,
body {
  height: 100%;
}
body {
  background: #f0f3f9 url('../img/bg1.jpg') no-repeat center top;
  font-family: 'OpenSans';
  color: #0083a9;
  font-size: 13px;
  min-width: 980px;
}
.clear {
  clear: both;
}
a {
  text-decoration: none;
}
.b {
  background: url(../img/b.png) no-repeat top left;
  background-position: 0 -114px;
  color: #8eaa4d;
  font-size: 13px;
  text-align: center;
  vertical-align: middle;
  width: 165px;
  height: 33px;
  display: inline-block;
}
.b-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.b > p {
  padding-top: 10px;
  color: #8eaa4d;
}
.b:hover {
  background-position: 0 -190px;
}
.b.current {
  background-position: 0 -152px;
}
.b.blue {
  background-position: 0 0;
  color: #61a2d5;
}
.b.blue:hover {
  background-position: 0 -76px;
}
.b.blue.current {
  background-position: 0 -38px;
}
h1 {
  font-size: 24px;
  color: #0083a9;
  margin-bottom: 10px;
}
h1 + p {
  font-size: 12px;
  color: #4aa6ac;
}
h2 {
  font-size: 16px;
  color: #007698;
}
p {
  color: #0083a9;
  font-size: 13px;
}
a {
  color: #77aa3f;
  font-size: 13px;
}
a:hover {
  color: #669136;
}
#cdf-c {
  background: url('../img/bc.png') no-repeat center center;
  background-size: 100%;
  color: #fff;
  font-size: 14px;
  padding: 10px;
  margin-top: 10px;
}
#cdf-c:hover {
  background: url('../img/bch.png') no-repeat center center;
}
#cs-c {
  background: url('../img/bcb.png') no-repeat center center;
  background-size: 100%;
  color: #61a2d5;
  font-size: 13px;
  padding: 10px;
  margin-top: 10px;
}
#cs-c:hover {
  background: url('../img/bcbh.png') no-repeat center center;
}
.divider {
  width: 588px;
  height: 15px;
  background: url('../img/divider.png') no-repeat center center;
  margin-left: auto;
  margin-right: auto;
}
.blue h1 {
  color: #fff;
}
.blue h1 + p {
  color: #e8e8e8;
}
.blue p {
  color: #f0f3f9;
}
.blue a {
  color: #61a2d5;
}
.blue a:hover {
  color: #57bce6;
}
#wrapper {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  background: #f0f3f9 url('../img/bg1.jpg') no-repeat center top;
  min-height: 100%;
  margin-bottom: -437px;
}
#wrapper:after {
  content: "";
  display: block;
}
footer,
#wrapper:after {
  height: 437px;
}
header {
  padding-top: 10px;
  position: relative;
  min-height: 285px;
}
header #tl {
  position: absolute;
  left: 500px;
}
header #tl a {
  display: inline-block;
  margin-right: -4px;
  text-decoration: none;
}
header #tl #tl-c {
  font-size: 16px;
  color: #d7d9df;
}
header #tl #tl-c:after {
  content: '|';
  margin-left: 10px;
  margin-right: 10px;
}
header #tl #tl-c:hover {
  color: #fff;
}
header #tl #tl-f {
  font-size: 13px;
  color: #90c366;
}
header #tl #tl-f:hover {
  color: #77aa3f;
}
header #logo {
  position: absolute;
  top: 70px;
  left: 350px;
}
header #logo span:first-child {
  font-size: 13px;
  color: #f0f3f9;
}
header #logo p {
  font-size: 36px;
  color: #f0f3f9;
}
header #logo span:last-child {
  font-size: 14px;
  color: #91acc7;
}
header #tp {
  position: absolute;
  top: 65px;
  left: 750px;
}
header #tp p:first-child {
  font-size: 60px;
  font-weight: bold;
  color: #f0f3f9;
}
header #tp p:last-child {
  font-size: 12px;
  color: #f0f3f9;
}
header #tn .tn-b {
  width: 95px;
  height: 96px;
  position: absolute;
  background: url(../img/tn.png) no-repeat top left;
  background-position: 0 0;
}
header #tn .tn-b:hover {
  background-position: 0 -101px;
  cursor: pointer;
}
header #tn .tn-b.current {
  background-position: 0 -202px;
}
header #tn .tn-b-1 {
  top: 170px;
  left: 400px;
}
header #tn .tn-b-2 {
  left: 510px;
  top: 160px;
}
header #tn .tn-b-2 P {
  margin-top: 30px;
}
header #tn .tn-b-3 {
  top: 180px;
  left: 615px;
}
header #tn .tn-b-4 {
  top: 175px;
  left: 720px;
}
header #tn .tn-b-5 {
  top: 185px;
  left: 825px;
}
header #tn p {
  margin-top: 35px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-size: 14px;
  color: #0a3c58;
}
#content {
  text-align: center;
}
#content #ca {
  margin-left: auto;
  margin-right: auto;
  width: 950px;
}
#content #ca #ca-d {
  margin-top: 20px;
  margin-bottom: 20px;
}
#content #cdf {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 950px;
}
#content #cdf #cdf-l {
  margin-top: 40px;
  float: left;
  width: 475px;
}
#content #cdf #cdf-l img {
  padding-top: 20px;
  float: left;
  width: 105px;
  height: 105px;
  margin-right: 10px;
}
#content #cdf #cdf-l .cdf-d {
  float: right;
  width: 360px;
  text-align: left;
}
#content #cdf #cdf-l .cdf-d h2 {
  margin-bottom: 15px;
}
#content #cdf #cdf-l .cdf-d p:last-child {
  margin-bottom: 35px;
}
#content #cdf #cdf-r {
  margin-top: 40px;
  float: right;
  width: 475px;
}
#content #cdf .divider {
  margin-top: 40px;
  margin-bottom: 40px;
}
#content #cs {
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
  width: 950px;
}
#content #cs #cs-d {
  width: 760px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
#content #cs #cs-d p {
  margin-bottom: 20px;
}
#content #cs #cs-i {
  min-height: 470px;
  margin-top: 10px;
  position: relative;
}
#content #cs #cs-i .csi {
  position: absolute;
}
#content #cs #cs-i .csi img {
  margin-bottom: 10px;
  border-radius: 50%;
}
#content #cs #cs-i .csi-1 {
  left: 30px;
  top: 0;
}
#content #cs #cs-i .csi-2 {
  left: 390px;
  top: 30px;
}
#content #cs #cs-i .csi-3 {
  left: 790px;
  top: 0;
}
#content #cs #cs-i .csi-4 {
  left: 170px;
  top: 155px;
}
#content #cs #cs-i .csi-5 {
  left: 405px;
  top: 265px;
}
#content #cs #cs-i .csi-6 {
  left: 630px;
  top: 155px;
}
#content #cs #cs-i .csi-1,
#content #cs #cs-i .csi-3,
#content #cs #cs-i .csi-4,
#content #cs #cs-i .csi-5,
#content #cs #cs-i .csi-6 {
  width: 134px;
}
#content #cs #cs-i .csi-1 img,
#content #cs #cs-i .csi-3 img,
#content #cs #cs-i .csi-4 img,
#content #cs #cs-i .csi-5 img,
#content #cs #cs-i .csi-6 img {
  width: 134px;
  height: 134px;
}
#content #cs #cs-i .csi-2 {
  width: 167px;
}
#content #cs #cs-i .csi-2 img {
  width: 167px;
  height: 167px;
}
#content #cw {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 950px;
  min-height: 740px;
  position: relative;
}
#content #cw #cw-d {
  position: absolute;
  width: 535px;
  text-align: center;
  left: 390px;
  top: 75px;
}
#content #cw #cw-d h2 {
  margin-bottom: 10px;
}
#content #cw #cw-d p {
  margin-bottom: 20px;
}
#content #cw #cw-i .cwi {
  position: absolute;
}
#content #cw #cw-i .cwi p {
  font-size: 12px;
  color: #949dac;
}
#content #cw #cw-i .cwi p:last-child {
  font-size: 14px;
  color: #77aa3f;
}
#content #cw #cw-i .cwi img {
  width: 134px;
  height: 134px;
  border-radius: 50%;
}
#content #cw #cw-i .cwi-1 {
  left: 10px;
  top: 50px;
}
#content #cw #cw-i .cwi-2 {
  left: 160px;
  top: 175px;
}
#content #cw #cw-i .cwi-3 {
  left: 0;
  top: 255px;
}
#content #cw #cw-i .cwi-4 {
  left: 95px;
  top: 420px;
}
#content #cw #cw-i .cwi-5 {
  left: 275px;
  top: 480px;
}
#content #cw #cw-i .cwi-6 {
  left: 340px;
  top: 220px;
}
#content #cw #cw-i .cwi-6 img {
  width: 200px;
  height: 200px;
}
#ce {
  margin-top: 15px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f0f3f9;
}
#ce h1 {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
#ce h1 + p {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
#ce #ce-w {
  margin-top: 25px;
  margin-bottom: 35px;
}
#ce #ce-w .ce-b {
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  vertical-align: top;
  width: 560px;
  text-align: left;
}
#ce #ce-w .ce-b img {
  float: left;
  margin-right: 10px;
  width: 275px;
  height: 110px;
}
#ce #ce-w .ce-b .date {
  font-size: 10px;
  color: #949dac;
  margin-bottom: 5px;
}
#ce #ce-w .ce-b .title {
  font-size: 16px;
  color: #007698;
  margin-bottom: 5px;
}
#ce #ce-w .ce-b .title:hover {
  color: #77aa3f;
  cursor: pointer;
}
#ce #ce-w .ce-b .ce-d {
  margin-top: 5px;
  height: 60px;
}
footer {
  background: url('../img/bgfooter.png') no-repeat center top;
  width: 100%;
  position: absolute;
}
footer #f-i {
  padding-top: 45px;
  padding-bottom: 70px;
  width: 1130px;
  margin-left: auto;
  margin-right: auto;
}
footer #f-i #fi-l,
footer #f-i #fi-c,
footer #f-i #fi-r {
  display: inline-block;
  vertical-align: top;
}
footer #f-i #fi-l {
  width: 430px;
}
footer #f-i #fi-l #fl-m {
  float: left;
  width: 120px;
}
footer #f-i #fi-l #fl-m h1 {
  font-size: 18px;
  color: #698fba;
  background: url('../img/fm.png') no-repeat left bottom;
  padding-left: 16px;
}
footer #f-i #fi-l #fl-m li {
  margin-top: 15px;
}
footer #f-i #fi-l #fl-m li a {
  font-size: 13px;
  color: #698fba;
}
footer #f-i #fi-l #fl-m li a:hover,
footer #f-i #fi-l #fl-m li a.current {
  color: #77aa3f;
}
footer #f-i #fi-l #fl-im {
  float: right;
  margin-left: 40px;
  width: 225px;
}
footer #f-i #fi-l #fl-im li:first-child {
  margin-top: 0;
}
footer #f-i #fi-l #fl-im li {
  color: #8693a7;
  margin-top: 15px;
}
footer #f-i #fi-l #fl-im li a {
  color: #698fba;
}
footer #f-i #fi-l #fl-im li a:hover,
footer #f-i #fi-l #fl-im li a.current {
  color: #77aa3f;
}
footer #f-i #fi-c {
  width: 350px;
  padding-left: 40px;
}
footer #f-i #fi-c p:first-child {
  font-size: 12px;
  color: #8693a7;
  margin-left: 40px;
  margin-bottom: 10px;
}
footer #f-i #fi-c p {
  font-size: 36px;
  color: #dde0e6;
}
footer #f-i #fi-c img {
  margin-top: 25px;
  margin-bottom: 40px;
}
footer #f-i #fi-c #fc-cr p {
  margin-left: 0;
  font-size: 12px;
  color: #8693a7;
  margin-bottom: 10px;
}
footer #f-i #fi-r {
  width: 300px;
}
footer #f-i #fi-r p {
  color: #f0f3f9;
  font-size: 16px;
  margin-left: 5px;
}
footer #f-i #fi-r input,
footer #f-i #fi-r textarea {
  font-family: 'OpenSans';
  width: 280px;
  margin-top: 10px;
  color: #99abbe;
  font-size: 12px;
  padding: 7px;
  background: rgba(153, 171, 190, 0.25);
  border: none;
  border-radius: 4px;
  outline: none;
}
footer #f-i #fi-r textarea {
  resize: none;
}
footer #f-i #fi-r input[type=submit] {
  width: 100px;
  border-radius: 13px;
  border: 2px solid #52799b;
}
footer #f-i #fi-r input[type=submit]:hover {
  cursor: pointer;
}
footer #f-i #fi-r a {
  margin-left: 5px;
  color: #4b7191;
  text-decoration: underline;
}
footer #f-i #fi-r a:hover {
  text-decoration: none;
}
/*reviews*/
#crw {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}
#crw h1 {
  margin-bottom: 20px;
}
#crw #crw-d {
  margin-bottom: 20px;
}
#crw #crw-rw {
  margin-bottom: 10px;
}
#crw .rwi-b {
  width: 620px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
#crw .rwi-b .date {
  font-size: 10px;
  color: #949dac;
  margin-bottom: 5px;
}
#crw .rwi-b .title {
  font-size: 16px;
  color: #007698;
  margin-bottom: 5px;
}
#crw .rwi-b .rwi-d {
  margin-top: 5px;
  height: 60px;
}
.rw-divider {
  width: 218px;
  height: 15px;
  background: url('../img/rw-div.png') no-repeat;
  margin-left: auto;
  margin-right: auto;
}
#pagination {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
#pagination li {
  display: inline-block;
  font-size: 14px;
}
#pagination li a {
  padding: 5px;
}
#pagination li a:hover,
#pagination la a.current {
  background: #77aa3f;
  color: #fff;
  border-radius: 4px;
}
#rw-popup {
  width: 570px;
  height: 310px;
  background: rgba(55, 97, 124, 0.85);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}
#rw-popup .rw-title {
  font-size: 18px;
  padding-top: 40px;
  margin-bottom: 10px;
  font-weight: bolder;
  color: #fff;
  text-align: center;
}
#rw-popup input,
#rw-popup textarea {
  width: 405px;
  margin-top: 10px;
  padding: 7px;
  background: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  color: #27526c;
  outline: none;
  margin-left: auto;
  margin-right: auto;
}
#rw-popup form {
  width: 405px;
  margin-left: auto;
  margin-right: auto;
}
#rw-popup textarea {
  font-family: 'OpenSans';
  resize: none;
}
#rw-popup input[type=submit] {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  color: #97b4e7;
  border-radius: 13px;
  border: 2px solid #97b4e7;
  background: transparent;
  display: block;
}
#rw-popup input[type=submit]:hover {
  cursor: pointer;
}
/*about*/
#ca img {
  margin-top: 20px;
  width: 930px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
#ca #cab-d {
  width: 910px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
#casr,
#cah,
#carw {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 910px;
  margin-left: auto;
  margin-right: auto;
}
#casr #casr-d,
#cah #casr-d,
#carw #casr-d,
#casr #cah-d,
#cah #cah-d,
#carw #cah-d,
#casr #carw-d,
#cah #carw-d,
#carw #carw-d {
  margin-top: 20px;
  margin-bottom: 20px;
}
#cah #cah-y {
  margin-bottom: 20px;
}
#cah #cah-y .ahy-b {
  display: inline-block;
  vertical-align: top;
  width: 85px;
  height: 85px;
  background: url('../img/ch.png') no-repeat;
  margin-left: 45px;
  margin-right: 45px;
}
#cah #cah-y .ahy-b p {
  font-size: 18px;
  text-align: center;
  margin-top: 35px;
}
/*contacts*/
#cc #cc-i {
  margin-top: 40px;
  margin-bottom: 60px;
  width: 840px;
  margin-left: auto;
  margin-right: auto;
}
#cc #cc-i #ci-l,
#cc #cc-i #ci-c,
#cc #cc-i #ci-r {
  display: inline-block;
  vertical-align: top;
}
#cc #cc-i #ci-l {
  text-align: left;
  width: 200px;
}
#cc #cc-i #ci-l p:first-child {
  color: #004e65;
  font-size: 13px;
  font-weight: lighter;
}
#cc #cc-i #ci-l p {
  font-size: 60px;
  color: #004e65;
  font-weight: bolder;
}
#cc #cc-i #ci-l p.contact {
  margin-top: 10px;
  font-weight: lighter;
  font-size: 13px;
  color: #949dac;
}
#cc #cc-i #ci-l p.contact a {
  color: #004e65;
}
#cc #cc-i #ci-c {
  text-align: left;
  margin-left: 80px;
}
#cc #cc-i #ci-c #ic-b {
  margin-top: 20px;
}
#cc #cc-i #ci-c #ic-b p:first-child {
  margin-bottom: 5px;
  font-size: 12px;
  color: #949dac;
}
#cc #cc-i #ci-c #ic-b p {
  color: #7bae27;
  font-size: 14px;
}
#cc #cc-i #ci-c #ic-b p:last-child {
  margin-top: 5px;
  font-size: 13px;
  color: #004e65;
}
#cc #cc-i #ci-c #ic-b:first-child {
  margin-top: 0;
}
#cc #cc-i #ci-r {
  text-align: left;
  margin-left: 80px;
}
#cc #cc-i #ci-r p {
  font-size: 13px;
  color: #949dac;
}
#cc #cc-i #ci-r .addr {
  color: #004e65;
  margin-top: 10px;
}
.map {
  width: 100%;
  height: 495px;
}
/*history*/
#ch {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 910px;
  margin-left: auto;
  margin-right: auto;
}
#ch #ch-d {
  margin-top: 20px;
  margin-bottom: 20px;
}
#ch .hi-b {
  margin-top: 30px;
  margin-bottom: 30px;
}
#ch-i .hi-b {
  margin-bottom: 20px;
}
#ch-i .hi-b .hi-y {
  display: inline-block;
  vertical-align: top;
  width: 85px;
  height: 85px;
  margin-bottom: 20px;
  background: url('../img/ch.png') no-repeat;
  margin-left: 45px;
  margin-right: 45px;
}
#ch-i .hi-b .hi-y p {
  font-size: 18px;
  text-align: center;
  margin-top: 35px;
}
#cae-i {
  margin-top: 10px;
}
#cae-i .cae-b {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  text-align: left;
}
#cae-i .cae-b img {
  float: left;
  width: 275px;
  height: 112px;
  margin-right: 10px;
}
#cae-i .cae-b img:after {
  clear: both;
}
#cae-i .cae-b .date {
  font-size: 10px;
  color: #949dac;
  margin-bottom: 5px;
}
#cae-i .cae-b .title {
  font-size: 16px;
  color: #007698;
  margin-bottom: 5px;
}
#cae-i .cae-b .title:hover {
  color: #77aa3f;
  cursor: pointer;
}
#cae-i .cae-b .cae-d {
  margin-top: 5px;
  height: 60px;
}
#cae + #pagination {
  padding-bottom: 30px;
}
/*event*/
#coe {
  width: 930px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
#coe h1 {
  margin-bottom: 35px;
  text-align: center;
}
#coe #coe-i img {
  width: 930px;
  height: auto;
}
#coe #coe-i .date {
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #949dac;
}
#coe #coe-i #coe-d {
  font-size: 13px;
}
#coe #coe-i #coe-at {
  float: left;
  margin-top: 45px;
  margin-bottom: 70px;
}
#coe #coe-i #coe-at a {
  color: #8fb24d;
  text-decoration: underline;
}
#coe #coe-i #coe-at a:hover {
  text-decoration: none;
}
#coe #coe-i #coe-sc {
  float: right;
  margin-top: 40px;
  margin-bottom: 60px;
}
#coe #coe-i #coe-sc .sc-b {
  display: inline-block;
  vertical-align: top;
  margin-right: 0;
  width: 30px;
  height: 30px;
}
#coe #coe-i #coe-sc .sc-b.vk {
  background: url('../img/vk.png') no-repeat;
}
#coe #coe-i #coe-sc .sc-b.od {
  background: url('../img/od.png') no-repeat;
}
#coe #coe-i #coe-sc .sc-b.fb {
  background: url('../img/fb.png') no-repeat;
}
#coe #coe-i #coe-sc .sc-b.tw {
  background: url('../img/tw.png') no-repeat;
}
#coe #coe-i #coe-sc .sc-b.gp {
  background: url('../img/gp.png') no-repeat;
}
#coe #coe-i #coe-sc .sc-b.ml {
  background: url('../img/ml.png') no-repeat;
}
/*vacancy*/
#cv {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}
#cv h1 {
  margin-bottom: 20px;
}
#cv #cv-d {
  margin-bottom: 20px;
}
#cv .b {
  margin-bottom: 25px;
}
#cv #cv-i .vi-b {
  margin-bottom: 20px;
  width: 590px;
  margin-left: auto;
  margin-right: auto;
}
#cv #cv-i .vi-b .title {
  font-size: 16px;
  color: #007698;
}
#cv #cv-i .vi-b .title:hover {
  color: #90b04b;
}
#cv #cv-i .vi-b .vi-d {
  margin-top: 15px;
}
#cv #cv-i .rw-divider {
  margin-top: 20px;
  margin-bottom: 20px;
}
#cv #cv-i .vi-d {
  margin-bottom: 20px;
}
#cv #cv-i .vi-fd {
  display: none;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 570px;
  margin-left: auto;
  margin-right: auto;
}
#cv #cv-i .vi-fd .fd-t {
  color: #4aa6ac;
}
#cv #cv-i .vi-fd ul {
  list-style: disc inside;
  text-align: left;
  margin-bottom: 10px;
}
#cv #cv-i .vi-m {
  font-size: 13px;
  color: #90b04b;
  background: url('../img/btd.png') no-repeat top center;
  padding-top: 5px;
}
#cv #cv-i .vi-m:hover {
  color: #669136;
}
