@media all and (max-width: 1660px) {
	#sfc-i {
		width: 1200px;

		.ti-b {
			margin-left: 70px;
			margin-right: 16px;
		}
	}
}
@media all and (max-width: 1220px) {
	#sfc-i {
		width: 940px;

		.ti-b {
			margin-left: 120px;
			margin-right: 16px;
		}
	}
}
@media all and (max-width: 1150px) {
footer {
		#f-i {
			width: 980px;

			#fi-l {
				width: 370px;

				#fl-m {
					width: 120px;
				}
				#fl-im {
					float: left;
					margin-left: 10px;
					width: 205px;
				}
			}
			#fi-c {
				width: 290px;
				padding-left: 10px;
			}
			#fi-r {
				width: 295px;
			}
		}
	}
}