html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.cb {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.in-a-row {
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
}
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular.ttf');
}
html, body {
  height: 100%;
}
body {
	background: #f0f3f9 url('../img/bg1.jpg') no-repeat center top;
	font-family: 'OpenSans';
	color: #0083a9;
	font-size: 13px;
	min-width: 980px;
}
.clear {
	clear: both;
}
a {
	text-decoration: none;
}
.b {
	background: url(../img/b.png) no-repeat top left;
	background-position: 0 -114px;
	color: #8eaa4d;
	font-size: 13px;
	text-align: center;
	vertical-align: middle;
	width: 165px;
	height: 33px;
	display: inline-block;
}
.b-center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.b > p {
	padding-top: 10px;
	color: #8eaa4d;
}
.b:hover {
	background-position: 0 -190px;
}
.b.current {
	background-position: 0 -152px;
}
.b.blue {
	background-position: 0 0;
	color: #61a2d5;
}
.b.blue:hover {
	background-position: 0 -76px;
}
.b.blue.current {
	background-position: 0 -38px;
}
h1 {
	font-size: 24px;
	color: #0083a9;
	margin-bottom: 10px;
}
h1 + p {
	font-size: 12px;
	color: #4aa6ac;
}
h2 {
	font-size: 16px;
	color: #007698;
}
p {
	color: #0083a9;
	font-size: 13px;
}
a {
	color: #77aa3f;
	font-size: 13px;
}
a:hover {
	color: #669136;
}
#cdf-c, .comm {
	background: url('../img/bc.png') no-repeat center center;
	background-size: 100%;
	color: #fff;
	font-size: 14px;
	padding: 10px;
	margin-top: 10px;
}
#cdf-c:hover, .comm:hover {
	background: url('../img/bch.png') no-repeat center center;
}
#cs-c {
	background: url('../img/bcb.png') no-repeat center center;
	background-size: 100%;
	color: #61a2d5;
	font-size: 13px;
	padding: 10px;
	margin-top: 10px;
}
#cs-c:hover {
	background: url('../img/bcbh.png') no-repeat center center;
}
.divider {
	width: 588px;
	height: 15px;
	background: url('../img/divider.png') no-repeat center center;
	margin-left: auto;
	margin-right: auto;
}
.blue {
	h1 {
		color: #fff;
	}
	h1 + p {
		color: #e8e8e8;
	}
	p {
		color: #f0f3f9;
	}
	a {
		color: #61a2d5;
	}
	a:hover {
		color: #57bce6;
	}
}
#wrapper {
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	background: #f0f3f9 url('../img/bg1.jpg') no-repeat center top;
	min-height: 100%;
  	margin-bottom: -437px; 
}
#wrapper:after {
 	content: "";
  	display: block;
}
footer, #wrapper:after {
  height: 437px; 
}
header {
	padding-top: 10px;
	position: relative;
	min-height: 285px;

	#tl {
		position: absolute;
		left: 500px;

		a {
			display: inline-block;
			margin-right: -4px;
			text-decoration: none;
		}
		#tl-c {
			font-size: 16px;
			color: #d7d9df;
		}
		#tl-c:after {
			content: '|';
			margin-left: 10px;
			margin-right: 10px;
		}
		#tl-c:hover {
			color: #fff;
		}
		#tl-f {
			font-size: 13px;
			color: #90c366;
		}
		#tl-f:hover {
			color: #77aa3f;
		}
	}
	#logo {
		position: absolute;
		top: 70px;
		left: 350px;

		span:first-child {
			font-size: 13px;
			color: #f0f3f9;
		}
		p {
			font-size: 36px;
			color: #f0f3f9;
		}
		span:last-child {
			font-size: 14px;
			color: #91acc7;
		}
	}
	#tp {
		position: absolute;
		top: 65px;
		left: 750px;

		p:first-child {
			font-size: 60px;
			font-weight: bold;
			color: #f0f3f9;
		}
		p:last-child {
			font-size: 12px;
			color: #f0f3f9;
		}
	}
	#tn {

		.tn-b {
			width: 95px;
			height: 96px;
			position: absolute;
			background: url(../img/tn.png) no-repeat top left;
			background-position: 0 0;
		}
		.tn-b:hover {
			background-position: 0 -101px;
			cursor: pointer;
		}
		.tn-b.current {
			background-position: 0 -202px;
		}
		.tn-b-1 {
			top: 170px;
			left: 400px;
		}
		.tn-b-2 {
			left: 510px;
			top: 160px;

			P {
				margin-top: 30px;
			}
		}
		.tn-b-3 {
			top: 180px;
			left: 615px;
		}
		.tn-b-4 {
			top: 175px;
			left: 720px;
		}
		.tn-b-5 {
			top: 185px;
			left: 825px;
		}

		p {
			margin-top: 35px;
			padding-left: 10px;
			padding-right: 10px;
			text-align: center;
			font-size: 14px;
			color: #0a3c58;
		}
	}
}
#content {
	text-align: center;

	#ca {
		margin-left: auto;
		margin-right: auto;
		width: 950px;

		#ca-d {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
	#cdf {
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
		width: 950px;

		#cdf-l {
			margin-top: 40px;
			float: left;
			width: 475px;

			img {
				padding-top: 20px;
				float: left;
				width: 105px;
				height: 105px;
				margin-right: 10px;
			}
			.cdf-d {
				float: right;
				width: 360px;
				text-align: left;

				h2 {
					margin-bottom: 15px;
				}
				p:last-child {
					margin-bottom: 35px;
				}
			}
		}
		#cdf-r {
			margin-top: 40px;
			float: right;
			width: 475px;
		}

		.divider {
			margin-top: 40px;
			margin-bottom: 40px;
		}
	}
	#cs {
		margin-top: 110px;
		margin-left: auto;
		margin-right: auto;
		width: 950px;

		#cs-d {
			width: 760px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 20px;
			margin-bottom: 20px;

			p {
				margin-bottom: 20px;
			}
		}
		#cs-i {
			min-height: 470px;
			margin-top: 10px;
			position: relative;

			.csi {
				position: absolute;

				img {
					margin-bottom: 10px;
					border-radius: 50%;
				}
			}
			.csi-1 {
				left: 30px;
				top: 0;
			}
			.csi-2 {
				left: 390px;
				top: 30px;
			}
			.csi-3 {
				left: 790px;
				top: 0;
			}
			.csi-4 {
				left: 170px;
				top: 155px;
			}
			.csi-5 {
				left: 405px;
				top: 265px;
			}
			.csi-6 {
				left: 630px;
				top: 155px;
			}
			.csi-1, .csi-3, .csi-4, .csi-5, .csi-6 {
				width: 134px;

				img {
					width: 134px;
					height: 134px;
				}
			}
			.csi-2 {
				width: 167px;

				img {
					width: 167px;
					height: 167px;
				}
			}
		}
	}
	#cw {
		margin-top: 100px;
		margin-left: auto;
		margin-right: auto;
		width: 950px;
		min-height: 740px;
		position: relative;

		#cw-d {
			position: absolute;
			width: 535px;
			text-align: center;
			left: 390px;
			top: 75px;

			h2 {
				margin-bottom: 10px;
			}
			p {
				margin-bottom: 20px;
			}
		}
		#cw-i {

			.cwi {
				position: absolute;

				p {
					font-size: 12px;
					color: #949dac;
				}
				p:last-child {
					font-size: 14px;
					color: #77aa3f;
				}
				img {
					width: 134px;
					height: 134px;
					border-radius: 50%;
				}
			}
			.cwi-1 {
				left: 10px;
				top: 50px;
			}
			.cwi-2 {
				left: 160px;
				top: 175px;
			}
			.cwi-3 {
				left: 0;
				top: 255px;
			}
			.cwi-4 {
				left: 95px;
				top: 420px;
			}
			.cwi-5 {
				left: 275px;
				top: 480px;
			}
			.cwi-6 {
				left: 340px;
				top: 220px;

				img {
					width: 200px;
					height: 200px;
				}
			}
		}
	}
}
	#ce {
		margin-top: 15px;
		padding-bottom: 60px;
		margin-left: auto;
		margin-right: auto;
		background-color: #f0f3f9;

		h1 {
			width: 100px;
			margin-left: auto;
			margin-right: auto;
		}
		h1 + p {
			width: 200px;
			margin-left: auto;
			margin-right: auto;
		}

		#ce-w {
			margin-top: 25px;
			margin-bottom: 35px;

			.ce-b {
				display: inline-block;
				margin-left: 25px;
				margin-right: 25px;
				margin-bottom: 25px;
				vertical-align: top;
				width: 560px;
				text-align: left;

				img {
					float: left;
					margin-right: 10px;
					width: 275px;
					height: 110px;
				}
				.date {
					font-size: 10px;
					color: #949dac;
					margin-bottom: 5px;
				}
				.title {
					font-size: 16px;
					color: #007698;
					margin-bottom: 5px;
				}
				.title:hover {
					color: #77aa3f;
					cursor: pointer;
				}
				.ce-d {
					margin-top: 5px;
					height: 60px;
				}
			}
		}
	}
footer {
	background: url('../img/bgfooter.png') no-repeat center top;
	width: 100%;
	position: absolute;

	#f-i {
		padding-top: 45px;
		padding-bottom: 70px;
		width: 1130px;
		margin-left: auto;
		margin-right: auto;

		#fi-l, #fi-c, #fi-r {
			display: inline-block;
			vertical-align: top;
		}
		#fi-l {
			width: 430px;

			#fl-m {
				float: left;
				width: 120px;

				h1 {
					font-size: 18px;
					color: #698fba;
					background: url('../img/fm.png') no-repeat left bottom;
					padding-left: 16px;
				}

				li {
					margin-top: 15px;
				}
				li a {
					font-size: 13px;
					color: #698fba;
				}
				li a:hover, li a.current {
					color: #77aa3f;
				}
			}
			#fl-im {
				float: right;
				margin-left: 40px;
				width: 225px;
				li:first-child {
					margin-top: 0;
				}
				li {
					color: #8693a7;
					margin-top: 15px;
				}
				li a {
					color: #698fba;
				}
				li a:hover, li a.current {
					color: #77aa3f;
				}
			}
		}
		#fi-c {
			width: 350px;
			padding-left: 40px;

			p:first-child {
				font-size: 12px;
				color: #8693a7;
				margin-left: 40px;
				margin-bottom: 10px;
			}
			p {
				font-size: 36px;
				color: #dde0e6;
			}
			img {
				margin-top: 25px;
				margin-bottom: 40px;
			}
			#fc-cr {
				p {
					margin-left: 0;
					font-size: 12px;
					color: #8693a7;
					margin-bottom: 10px;
				}
			}
		}
		#fi-r {
			width: 300px;

			p {
				color: #f0f3f9;
				font-size: 16px;
				margin-left: 5px;
			}
			input, textarea {
				font-family: 'OpenSans';
				width: 280px;
				margin-top: 10px;
				color: #99abbe;
				font-size: 12px;
				padding: 7px;
				background: rgba(153, 171, 190, 0.25);
				border: none;
				border-radius: 4px;
				outline: none;
			}
			textarea {
				resize: none;
			}
			input[type=submit] {
				width: 100px;
				border-radius: 13px;
				border: 2px solid #52799b;
			}
			input[type=submit]:hover {
				cursor: pointer;
			}
			a {
				margin-left: 5px;
				color: #4b7191;
				text-decoration: underline;
			}
			a:hover {
				text-decoration: none;
			}
		}
	}
}
/*reviews*/
#crw {
	width: 950px;
	margin-left: auto;
	margin-right: auto;

	h1 {
		margin-bottom: 20px;
	}
	#crw-d {
		margin-bottom: 20px;
	}
	#crw-rw {
		margin-bottom: 10px;
	}
	.rwi-b {
		width: 620px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		margin-bottom: 20px;

		.date {
			font-size: 10px;
			color: #949dac;
			margin-bottom: 5px;
			}
		.title {
			font-size: 16px;
			color: #007698;
			margin-bottom: 5px;
		}
		.rwi-d {
			margin-top: 5px;
			height: 60px;
		}
	}
}
.rw-divider {
		width: 218px;
		height: 15px;
		background: url('../img/rw-div.png') no-repeat;
		margin-left: auto;
		margin-right: auto;
	}
#pagination {
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;

	li {
		display: inline-block;
		font-size: 14px;
	}
	li a {
		padding: 5px;
	}
	li a:hover, la a.current {
		background: #77aa3f;
		color: #fff;
		border-radius: 4px;
	}
}
#rw-popup {
	width: 570px;
	height: 310px;
	background: rgba(55, 97, 124, 0.85);
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;

	.rw-title {
		font-size: 18px;
		padding-top: 40px;
		margin-bottom: 10px;
		font-weight: bolder;
		color: #fff;
		text-align: center;
	}
	input, textarea {
		width: 405px;
		margin-top: 10px;
		padding: 7px;
		background: #fff;
		border: none;
		border-radius: 4px;
		font-size: 14px;
		color: #27526c;
		outline: none;
		margin-left: auto;
		margin-right: auto;
	}
	form {
		width: 405px;
		margin-left: auto;
		margin-right: auto;
	}
	textarea {
		font-family: 'OpenSans';
		resize: none;
	}
	input[type=submit] {
		width: 100px;
		margin-left: auto;
		margin-right: auto;
		color: #97b4e7;
		border-radius: 13px;
		border: 2px solid #97b4e7;
		background: transparent;
		display: block;
	}
	input[type=submit]:hover {
		cursor: pointer;
	}	
}
/*about*/
#ca {
	img {
		margin-top: 20px;
		width: 930px;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}
	#cab-d {
		width: 910px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}
}
#casr,#cah,#carw {
	margin-top: 30px;
	margin-bottom: 30px;
	width: 910px;
	margin-left: auto;
	margin-right: auto;

	#casr-d,#cah-d, #carw-d {
		margin-top: 20px;
		margin-bottom: 20px;
	}
} 
#cah {
	#cah-y {
		margin-bottom: 20px;

		.ahy-b {
			display: inline-block;
			vertical-align: top;
			width: 85px;
			height: 85px;
			background: url('../img/ch.png') no-repeat;
			margin-left: 45px;
			margin-right: 45px;

			p {
				font-size: 18px;
				text-align: center;
				margin-top: 35px;
			}
		}
	}
}
/*contacts*/
#cc {

	#cc-i {
		margin-top: 40px;
		margin-bottom: 60px;
		width: 840px;
		margin-left: auto;
		margin-right: auto;

		#ci-l, #ci-c, #ci-r {
			display: inline-block;
			vertical-align: top;
		}
		#ci-l {
			text-align: left;
			width: 200px;

			p:first-child {
				color: #004e65;
				font-size: 13px;
				font-weight: lighter;
			}
			p {
				font-size: 60px;
				color: #004e65;
				font-weight: bolder;
			}
			p.contact {
				margin-top: 10px;
				font-weight: lighter;
				font-size: 13px;
				color: #949dac;

				a {
					color: #004e65;
				}
			}
		}
		#ci-c {
			text-align: left;
			margin-left: 80px;

			#ic-b {
				margin-top: 20px;

				p:first-child {
					margin-bottom: 5px;
					font-size: 12px;
					color: #949dac;
				}
				p {
					color: #7bae27;
					font-size: 14px;
				}
				p:last-child {
					margin-top: 5px;
					font-size: 13px;
					color: #004e65;
				}
			}
			#ic-b:first-child {
				margin-top: 0;
			}
		}
		#ci-r {
			text-align: left;
			margin-left: 80px;

			p {
				font-size: 13px;
				color: #949dac;
			}
			.addr {
				color: #004e65;
				margin-top: 10px;
			}
		}
	}
}
.map {
	width: 100%;
	height: 495px;
}
/*history*/
#ch {
	margin-top: 30px;
	margin-bottom: 30px;
	width: 910px;
	margin-left: auto;
	margin-right: auto;

	#ch-d {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.hi-b {
		margin-top: 30px;
		margin-bottom: 30px;
	}
} 
#ch-i {
	.hi-b {
		margin-bottom: 20px;

		.hi-y {
			display: inline-block;
			vertical-align: top;
			width: 85px;
			height: 85px;
			margin-bottom: 20px;
			background: url('../img/ch.png') no-repeat;
			margin-left: 45px;
			margin-right: 45px;

			p {
				font-size: 18px;
				text-align: center;
				margin-top: 35px;
			}
		}
	}
}
#cae-i {
	margin-top: 10px;

	.cae-b {
		width: 950px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 25px;
		text-align: left;

		img {
			float: left;
			width: 275px;
			height: 112px;
			margin-right: 10px;
		}
		img:after {
			clear: both;
		}
		.date {
			font-size: 10px;
			color: #949dac;
			margin-bottom: 5px;
		}
		.title {
			font-size: 16px;
			color: #007698;
			margin-bottom: 5px;
		}
		.title:hover {
			color: #77aa3f;
			cursor: pointer;
		}
		.cae-d {
			margin-top: 5px;
			height: 60px;
		}
	}
}
#cae + #pagination {
	padding-bottom: 30px;
}
/*event*/
#coe {
	width: 930px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;

	h1 {
		margin-bottom: 35px;
		text-align: center;
	}
	#coe-i {

		img {
			width: 930px;
			height: auto;
		}
		.date {
			font-size: 10px;
			margin-top: 5px;
			margin-bottom: 5px;
			color: #949dac;
		}
		#coe-d {
			font-size: 13px;
		}
		#coe-at {
			float: left;
			margin-top: 45px;
			margin-bottom: 70px;

			a {
				color: #8fb24d;
				text-decoration: underline;
			}
			a:hover {
				text-decoration: none;
			}
		}
		#coe-sc {
			float: right;
			margin-top: 40px;
			margin-bottom: 60px;

			.sc-b {
				display: inline-block;
				vertical-align: top;
				margin-right: 0;
				width: 30px;
				height: 30px;
			}
			.sc-b.vk {background: url('../img/vk.png') no-repeat;}
			.sc-b.od {background: url('../img/od.png') no-repeat;}
			.sc-b.fb {background: url('../img/fb.png') no-repeat;}
			.sc-b.tw {background: url('../img/tw.png') no-repeat;}
			.sc-b.gp {background: url('../img/gp.png') no-repeat;}
			.sc-b.ml {background: url('../img/ml.png') no-repeat;}
		}
	}
}
/*vacancy*/
#cv {
	width: 950px;
	margin-left: auto;
	margin-right: auto;

	h1 {
		margin-bottom: 20px;
	}

	#cv-d {
		margin-bottom: 20px;
	}
	.b {
		margin-bottom: 25px;
	}
	#cv-i {

		.vi-b {
			margin-bottom: 20px;
			width: 590px;
			margin-left: auto;
			margin-right: auto;

			.title {
				font-size: 16px;
				color: #007698;
			}
			.title:hover {
				color: #90b04b;
			}
			.vi-d {
				margin-top: 15px;
			}
		}
		.rw-divider {
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.vi-d {
			margin-bottom: 20px;
		}
		.vi-fd {
			display: none;
			margin-bottom: 20px;
			margin-top: 20px;
			width: 570px;
			margin-left: auto;
			margin-right: auto;

			.fd-t {
				color: #4aa6ac;
			}
			ul {
				list-style: disc inside;
				text-align: left;
				margin-bottom: 10px;
			}
		}
		.vi-m {
			font-size: 13px;
			color: #90b04b;
			background: url('../img/btd.png') no-repeat top center;
			padding-top: 5px;
		}
		.vi-m:hover {
			color: #669136;
		}
	}
}
#cdf {
	padding-bottom: 120px;

	.cdf-d {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.cdf-d.s {
		margin-left: auto;
		margin-right: auto;
		width: 570px;
		margin-bottom: 25px;

		h2 {
			margin-bottom: 15px;
		}

		.cdf-img {
			margin-top: 15px;
			margin-bottom: 15px;

			img {
				width: 105px;
				height: 105px;
				border-radius: 50%;
			}
		}
	}.cdf-d.s.w {
		width: 900px;
		margin-bottom: 25px;
	}
}
/**team**/
#ct {
	width: 100%;

	h1 {
		margin-bottom: 30px;
	}
	#ct-i {

		.ti-b {
			width: 560px;
			text-align: center;
			height: 195px;
			margin-left: 20px;
			margin-right: 20px;
			margin-bottom: 30px;
			display: inline-block;
			vertical-align: top;
			background: url('../img/bgct.png') no-repeat center center;

			img {
				float: left;
				margin-right: 15px;
			}
			img:after {
				content:'';
    			display:block;
   				clear: both;
			}
			.name {
				margin-top: 40px;
				font-size: 16px;
				padding-right: 40px;
			}
			.job {
				font-size: 10px;
				color: #949dac;
				margin-bottom: 10px;
				padding-right: 40px;
			}
			.ti-d {
				font-size: 13px;
				color: #004e65;
				padding-right: 40px;
			}
		}
	}
}
#ct + #pagination {
	margin-bottom: 60px;
	margin-top: 60px;
}
 #ca.ct .b {
	margin-bottom: 30px;
}
#cdsf {
	margin-top: 30px;
	padding-bottom: 60px;
	width: 920px;
	margin-left: auto;
	margin-right: auto;

	#cdsf-d {
		margin-top: 20px;

		p {
			padding: 5px;
		}
	}
	.rw-divider {
		margin-top: 30px;
		margin-bottom: 35px;
	}
	.cdsf-b {

		img {
			float: left; 
			width: 100px;
			height: 100px;
			margin-right: 35px;
		}
	}
	.cdsf-b.c {
		margin-bottom: 30px;

		.sfb-i {
			text-align: center;
		}
	}
	.sfb-i {
		h2 {
			color: #0083a9;
			margin-bottom: 10px;
		}
		text-align: left;

		ul {
			list-style: disc inside;
		}
		ul + p {
			margin-top: 30px;
		}
	}
}
#sfc {
	width: 920px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	#sfc-d {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}
#sfc.last {
	padding-bottom: 60px;
}
#sfc-i {
	width: 1640px;
	margin-left: auto;
	margin-right: auto;

	.ti-b {
		width: 285px;
		text-align: center;
		display: inline-block;
		vertical-align: top;
		margin-left: 30px;
		margin-right: 6px;
		margin-bottom: 35px;
		height: 330px;
		background: url('../img/bgsfc.png') no-repeat center bottom;

		img {
			width: 158px;
			height: 158px;
			border-radius: 50%;
			margin-bottom: 10px;
		}
		.date {
			font-size: 16px;
			color: #949dac;
			margin-bottom: 5px;
		}
		.name {
			font-size: 16px;
			color: #007698;
			margin-bottom: 5px;
		}
		.ti-d {
			font-size: 13px;
			color: #004e65;
			padding-left: 5px;
			padding-right: 5px;
		}
	}
}